/*Common elements*/

body {
    font-size: 67.5%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;

}

h1 {
    color: #cf1717;
    ;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2 {
    color: #12a4e3;
    font-size: 1.7em;
    margin: 0.5em 0 0.35em 0;
    padding: 0px;

}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #374b52;
    margin: 0px 0.5em 0.75em 0px;
}

ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;

}

ol li {
    margin: 0;
    padding: 0 0 0.2em;

}

a, a:visited {
    color: #cf1717;

}

a:hover {
    color: #12a4e3;

}

hr {
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;

}

.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}

.left {
    float: left;

}

.right {
    float: right;

}

.center {
    text-align: center;
}

div.clear { 
    clear:both;
    font-size: 1%;
}



/*Header*/

header {
    padding: .5em 0 0.5em;
    margin: 0 0 2.0em;
    background: white;
    border-bottom: #cf1717;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    

    /* color 2 #374b52;
    color #3 12a4e3 */

}


header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align:center;
    overflow: hidden;

}



header #search {
    width: 30em;
    vertical-align: bottom;
    
}

header #acctNav {
    margin-left: 10px;
    font-size: large;

}


/*Top Section*/

section #top {
    
    background-color: white;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;/* offset-x | offset-y | blur-radius | color */

}

section div.hero {
    float: center;
    position: relative;
    width: 100%;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color:#374b52;
    border: #ccc solid 1px;
    text-align: center;

}

section div.hero img.heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}


/*Main Section*/

section #main {
    
    background-color: black;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;/* offset-x | offset-y | blur-radius | color */

}

section div.panel {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;

}

section div.panel img.carImage {
    width: 100%;
    
}


/*Footer*/

footer {
    background-color: #cf1717;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;

}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;

}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;

}

footer ul li::before {
    content: "| ";
    padding-right: 0.7em;

}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}


